<!DOCTYPE html>
<html>
  <head>
    <title>Snacc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script> type='text/javascript'
     window.slackLogo = "<%= image_url('slack_logo.png') %>"
   </script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Oswald|Raleway|Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
