<!DOCTYPE html>
<html>
  <head>
    <title>Snacc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script> type='text/javascript'
     window.slackLogo = "<%= image_url('slack_logo.png') %>"
   </script>
   <script src="https://kit.fontawesome.com/c73027ee2d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:700,800|Open+Sans:400,700,800|Oswald:400,600,700|Raleway:400,800i,900|Roboto:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
