<!DOCTYPE html>
<html>
  <head>
    <title>Snacc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script> type='text/javascript'
     window.slackLogo = "<%= image_url('slack_logo.png') %>"
     window.screenshot1 = "<%= image_url('screenshot1.png') %>"
     window.screenshot2 = "<%= image_url('screenshot2.png') %>"
     window.github = "<%= image_url('icons8-github-64.png') %>"
     window.linkedin = "<%= image_url('icons8-linkedin-64.png') %>"
     window.angellist = "<%= image_url('icons8-angellist-50.png') %>"
     window.icons8 = "<%= image_url('icons8-icons8-64.png') %>"
     window.spc = "<%= image_url('spc.gif') %>"

     window.alexaLogo = "<%= image_url('icons8-amazon-alexa-logo-64.png') %>" // Done
     window.appleLogo = "<%= image_url('icons8-apple-logo-64.png') %>" // Done
     window.babel = "<%= image_url('icons8-babel-64.png') %>" //Done
     window.chrome = "<%= image_url('icons8-chrome-64.png') %>" //Done
     window.dell = "<%= image_url('icons8-dell-64.png') %>"
     window.dropbox = "<%= image_url('icons8-dropbox-64.png') %>" //Done
     window.googleGroups = "<%= image_url('icons8-google-groups-64.png') %>" //Done
     window.react = "<%= image_url('icons8-react-64.png') %>" // Done
     window.rubyGem = "<%= image_url('icons8-ruby-gem-64.png') %>" // Done
     window.ruby = "<%= image_url('icons8-ruby-programming-language-64.png') %>" //Done
     window.webpack = "<%= image_url('icons8-webpack-64.png') %>" //Done

     window.personIcon = "<%= image_url('icons8-person-32.png') %>"
     window.expandArrow = "<%= image_url('icons8-expand-arrow-48.png') %>"
     window.addThings = "<%= image_url('icons8-plus-64.png') %>"
     
   </script>
   <script src="https://kit.fontawesome.com/c73027ee2d.js" crossorigin="anonymous">
   
   </script>
   <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:700,800|Open+Sans:400,700,800|Oswald:400,600,700|Raleway:400,800i,900|Roboto:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('slack_logo.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
